node_modules/
frontend/node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local

.env

*.sqlite
*.sqlite3
*.sqlite-journal

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log
.tmp/
.cache/
coverage/
dist-ssr/
frontend/dist/
